@font-face {
    font-family: HintRegular;
    src: url(fonts/Hind-Regular.ttf);
}
@font-face {
    font-family: HintBold;
    src: url(fonts/Hind-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    color: white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(4, 4, 4);
    font-family:   HintRegular;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 664px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 20px 20px 50px -10px rgba(255, 255, 255, 0.068);
    background-color: black;
    gap: 20px;
    animation: fade 1s ;
}

.spotify{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 6%;
    padding-right: 20px;
    padding-bottom: 60px;
}


.spotify img {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.p-order{
    height: 10%;
}

.div-music-img > img{
    width: 225px;
    height: 225px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0px 6px 5px white;
}

.music-name{
    
    font-size: 30px;
    font-family: HintBold;
}
.music-artist{
    color: rgb(206, 206, 206);
    
}
.div-seekbar-music-time{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.div-seekbar-volume{
    display: flex;
    align-items: center;
    gap: 5px;
    transform: translateX(-11px);
}

.volume-icon{
    width: 17px;
    height: 17px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.nav .previous, .next{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.nav .play-pause{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

@keyframes fade {
    from{
        transform: translateY(-100px);
    }
    to{     
        transform: translateY(0px);
    }
}

@keyframes Spin {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
    
}